<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System Monitoring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
        #address{
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Orbitron';
            font-size: 30px;
        }
        *{
            overflow: hidden;
        }
        .home{
            display: inline;
            position: absolute;
            top: 3%;
            left: 2%;
            z-index: 9;
        }
    </style>
</head>
<body>
    <a class="home btn btn-dark" href="http://3.93.164.141:5000/"><i class="fa fa-home"></i> Home</a>
    <div class="container" style="overflow: hidden">
        <div class="row justify-content-evenly">
            <div class="col-5" id="cpu-gauge"></div>
            <div class="col-5" id="mem-gauge"></div>
        </div>
        <center><div id="address">{{ ip }}</div></center>
        <div class="row justify-content-evenly">
            <div class="col-5" id="disk-gauge"></div>
            <div class="col-5" id="net-gauge"></div>
        </div>
    </div>
    <script>
        function plotGraph(){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.response)
                    console.log(data)
                    var cpu=data[0]['cpu_metric']
                    var mem=data[0]['mem_metric']
                    var disk=data[0]['disk_metric']
                    var net=data[0]['net_metric']
                    var cpuGauge = {
                        type: "indicator",
                        mode: "gauge+number",
                        value: cpu,
                        gauge: {
                            axis: { range: [null, 100] },
                            bar: { color: "#1f77b4" },
                            bgcolor: "white",
                            borderwidth: 2,
                            bordercolor: "#ccc",
                            steps: [
                                { range: [0, 50], color: "#d9f0a3" },
                                { range: [50, 85], color: "#ffeb84" },
                                { range: [85, 100], color: "#ff5f5f" }
                            ],
                            threshold: {
                                line: { color: "#454545", width: 4 },
                                thickness: 0.75,
                                value: cpu
                            }
                        }
                    };

                    var memGauge = {
                        type: "indicator",
                        mode: "gauge+number",
                        value: mem,
                        gauge: {
                            axis: { range: [null, 100] },
                            bar: { color: "#1f77b4" },
                            bgcolor: "white",
                            borderwidth: 2,
                            bordercolor: "#ccc",
                            steps: [
                                { range: [0, 50], color: "#d9f0a3" },
                                { range: [50, 85], color: "#ffeb84" },
                                { range: [85, 100], color: "#ff5f5f" }
                            ],
                            threshold: {
                                line: { color: "#454545", width: 4 },
                                thickness: 0.75,
                                value: mem
                            }
                        }
                    };

                    var diskGauge = {
                        type: "indicator",
                        mode: "gauge+number",
                        value: disk,
                        gauge: {
                            axis: { range: [null, 100] },
                            bar: { color: "#1f77b4" },
                            bgcolor: "white",
                            borderwidth: 2,
                            bordercolor: "#ccc",
                            steps: [
                                { range: [0, 50], color: "#d9f0a3" },
                                { range: [50, 85], color: "#ffeb84" },
                                { range: [85, 100], color: "#ff5f5f" }
                            ],
                            threshold: {
                                line: { color: "#454545", width: 4 },
                                thickness: 0.75,
                                value: disk
                            }
                        }
                    };

                    var netGauge = {
                        type: "indicator",
                        mode: "gauge+number",
                        value: net,
                        gauge: {
                            axis: { range: [null, 100] },
                            bar: { color: "#1f77b4" },
                            bgcolor: "white",
                            borderwidth: 2,
                            bordercolor: "#ccc",
                            steps: [
                                { range: [0, 5], color: "#DC3535" },
                                { range: [5, 10], color: "#ff5f5f" },
                                { range: [10, 20], color: "#ffeb84" },
                                { range: [20, 50], color: "#d9f0a3" },
                                { range: [50, 100], color: "#9FC088" },
                            ],
                            threshold: {
                                line: { color: "#454545", width: 4 },
                                thickness: 0.75,
                                value: net
                            }
                        }
                    };

                    var cpuGaugeLayout = { title: "CPU Utilization (%)", height:370};
                    var memGaugeLayout = { title: "Memory Utilization (%)", height:370};
                    var diskGaugeLayout = { title: "Disk Utilization (%)", height:370};
                    var netGaugeLayout = { title: "Network Speed (Mbits/s)", height:370}
                    Plotly.newPlot('cpu-gauge', [cpuGauge], cpuGaugeLayout);
                    Plotly.newPlot('mem-gauge', [memGauge], memGaugeLayout);
                    Plotly.newPlot('disk-gauge', [diskGauge], diskGaugeLayout);
                    Plotly.newPlot('net-gauge', [netGauge], netGaugeLayout)
                }
            };
            xhttp.open("GET", "http://{{ ip }}:5000/metrics/");
            xhttp.send();
        }
        plotGraph()
        setInterval(plotGraph, 1000);
    </script>
</body>
</html>