<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System Monitoring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .btn{
            width: 150px;
        }
        .home{
            display: inline;
            position: fixed;
            top: 3%;
            left: 88%;
            z-index: 9;
        }
        .download{
            display: inline;
            position: fixed;
            top: 10%;
            left: 88%;
            z-index: 9;
        }
        .resume{
            display: inline;
            position: fixed;
            top: 17%;
            left: 88%;
            z-index: 9;
        }
    </style>
</head>
<body id="body">
    <a class="home btn btn-dark" href="http://3.93.164.141:5000/"><i class="fa fa-home"></i> Home</a>
    <a class="download btn btn-primary" href="http://3.93.164.141:5000/return/{{ ip}}-{{ user }}" download><i class="fa fa-cloud-download"></i> Download</a>
    <a class="resume btn btn-success" href="" onclick="getLogs()"><i class="fa fa-refresh"></i> Refresh</a>
    <div id="temp"></div>
    <script>
        function utilsColor(util){
            var color=''
            if (util>=0 && util<50){
                color='#03C988'
            }
            else if(util>=50 && util<85){
                color='#FEC260'
            }
            else{
                color='#FF0000'
            }
            return color
        }
        function netColor(speed){
            var color=''
            if (speed>=0 && speed<5){
                color='#FF0000'
            }
            else if(speed>=5 && speed<10){
                color='#FFD700'
            }
            else if(speed>=10 && speed<20){
                color='#D89216'
            }
            else if(speed>=20 && speed<50){
                color='#519872'
            }
            else{
                color='#03C988'
            }
            return color
        }
        function getLogs(){
            var logs = document.getElementById('body')
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(xhttp.response)
                    for (var log in data){
                        logs.insertAdjacentHTML("beforeend",`
                        <div style="display: flex; margin-left:50px; width: 80%;">
                                <p style="color: #1597BB; font-weight: bold; width: 160px;">${data[log]['time']}</p>
                                <p style="width:140px;">CPU UTILIZATION :</p>
                                <p style="color: ${utilsColor(data[log]['cpu'])}; font-weight: bold; width:80px;">${data[log]['cpu']} %</p>
                                <p style="width:175px;"">MEMORY UTILIZATION :</p>
                                <p style="color: ${utilsColor(data[log]['memory'])}; font-weight: bold; width:80px;">${data[log]['memory']} %</p>
                                <p style="width:145px;"">DISK UTILIZATION :</p>
                                <p style="color: ${utilsColor(data[log]['disk'])}; font-weight: bold; width:80px;">${data[log]['disk']} %</p>
                                <p style="width:145px;"">NETWORK SPEED :</p>
                                <p style="color: ${netColor(data[log]['network'])}; font-weight: bold; width:120px;">${data[log]['network']} MBITS/S</p>
                            </div>
                            <br>
                        `)
                    }
                }
            };
            xhttp.open("GET", "http://3.93.164.141:5000/logs/{{ ip }}");
            xhttp.send();
        }
        getLogs()
    </script>
</body>
</html>